
version: '3.3'

services:
  evolution_api:
    image: atendai/evolution-api:v1.6.0
    restart: always
    ports:
      - "8081:8080"
    environment:
      - SERVER_URL=http://localhost:8081
      - API_KEY=SuaChaveSecretaGlobal
      - DEL_INSTANCE=false
    volumes:
      - evolution_instances:/evolution/instances
      - evolution_store:/evolution/store

volumes:
  evolution_instances:
  evolution_store:
