
version: '3'

services:
  db:
    image: postgres:12
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatwoot
      - POSTGRES_USER=chatwoot
      - POSTGRES_PASSWORD=chatwoot

  redis:
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  chatwoot:
    image: chatwoot/chatwoot:latest
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      - FRONTEND_URL=http://localhost:3000
      - RAILS_ENV=production

volumes:
  postgres_data:
  redis_data:
